<template name="App">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				{{> RecipeList}}
			</div>
			<div class="col-sm-9">
				{{#Form schema=schema item=recipe}}
				<ul class="nav nav-tabs" role="tablist">
				  <li class="active"><a href="#details" role="tab" data-toggle="tab">Details</a></li>
				  <li><a href="#steps" role="tab" data-toggle="tab">Steps</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="details">
						{{> RecipeDetails}}
					</div>
					<div class="tab-pane" id="steps">
						{{> RecipeSteps}}
					</div>
				</div>
				{{/Form}}
			</div>
		</div>
	</div>
</template>